body {
    background-image: url("background1.jpg");
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

canvas {
    border-radius: 10px;
}

h4 {
    color: black;
}